.news {
  width: 100%;
  height: auto;

  &.featured {
    @include linear-gradient(rgba(1,1,1,0), rgba(1,1,1,1));
    top:60%;


  }

  &.featured-lead {
  @include linear-gradient(rgba(1,1,1,0), rgba(1,1,1,1));
    top: 60%;


  }

  p {
    color: white;
    position: absolute;
    bottom: 0%;
  }

  img {

    background-size: cover;
    border: 0px;
  }

  small {
    color: white;
    padding-right:35px;


  }}

  .twitter-timeline{

    overflow: hidden;
  }

  @include media-breakpoint-up(xs) {}
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {
  .news {

  &.featured {
    top:50%;


  }

  &.featured-lead {

    top: 70%;


  }}}
@include media-breakpoint-up(xl) {}
