.tube-nav {
  margin: 0;
  padding: 0;
  border: 0;

  ul {
    margin-top: 7px;
    font-family: 'Concert One', cursive;
    font-size: 18px;
    padding-left: 20px;
  }

  li {
    text-transform: uppercase;
    padding: 0 18px;
  }
  background: primary-color;
}
