
//Colours
$primary-color: #5ec0eb;
$secondary-color: #ffffff;

$title-color-1: #6B6FF9;
$title-color-2: #EF474D;

$text-color: #302E34;




//Social Media Colours
        $facebook: #3b5998;
        $twitter: #00aced;
        $google: #dd4b39;
        $linkedin: #007bb6;
        $youtube: #bb0000;
        $instagram: #517fa4;
        $pinterest: #cb2027;
        $flickr: #ff0084;
        $tumblr: #32506d;
        $forusquare: #0072b1;
        $dribbble: #ea4c89;
        $vine: #00bf8f;
